:root {
    --addOn: brown;
    --addOff : yellow;
    --subOn : red;
    --subOff : blue;
    --backColor : green;
    --wordColor : crimson;
    --alertInfo : lightblue;
    --alertDanger : red;
    --alertSuccess : green;
}

.contour{
    border: solid black;
    margin: auto;
    padding : 1em;
}

.Title{
    text-align: center;
    font-size: xxx-large;
}

#dropZone{
    border: solid black;
    margin: auto;
    padding : 1em;
    background: #018d8f;
}

#addZone{
    display: inline-block;
    background: var(--addOff);
    border: 0px;
    padding: 2em;
    margin-right: 1em;
    border-radius: 1em;
    width : 60%;
}

#subZone{
    display: inline-block;
    background: var(--subOff);
    border: 0px;
    padding: 2em;
    border-radius: 1em;
    width : 30%;
}

.word{
    border: solid black;
    display:inline-block;
    padding: 2em;
    width : 10em;
    text-align: center;
    border-radius: 1em;
    margin : 1em;
    background: var(--wordColor);
}

.drop-item {
    cursor: pointer;
    margin: 1em;
    background-color: rgb(125, 125, 125);
    display:inline-block;
    text-align: center;
    padding: 2em;
    width : 10em;
    border-radius: 1em;
    border: solid rgb(204, 204, 204);
    position: relative;
    color: aqua;
}

.drop-item .remove {
    top: 4px;
    right: 4px;
}

body{
    background: #dbd4c9;
}


/*Alert*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    border-radius: 1em;
    width: 80%;
    /*opacity: 0.9;*/
    text-align: center;
}

/* The Close Button */
.closeAlert {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeAlert:hover,
.closeAlert:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.alertInfo{
    background-color: var(--alertInfo);
}

.alertDanger{
    background-color: var(--alertDanger);
}

.alertSuccess{
    background-color: var(--alertSuccess);
}

#AlertText{
    font-size: large;
    font-weight: bold;
}