<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Combintor</title>
</head>
<body>

<div id="main">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="static/combinator/style.css" rel= "stylesheet" type= "text/css">
    <div id="dropZone" class="contour">
        Drop Zone
    </div>

    <div id="wordZone" class="contour">
        <div class="word">king</div>
        <div class="word">man</div>
    </div>

</div>

<script type="module" src="static/combinator/app.js"></script>
</body>
</html>