<!DOCTYPE html>
<html lang="en">
<head>

        <!--Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Icone menus -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--CSS -->
    <link href="static/combinator/style.css" rel= "stylesheet" type= "text/css">
    <link href="static/combinator/button.css" rel= "stylesheet" type= "text/css">

    <script>
    function myFunction() {
        var disp = "flex"
        var x = document.getElementById("myLinks");
        if (x.style.display === disp) {
            x.style.display = "none";
        } else {
            x.style.display = disp;
        }
    }
</script>

    <meta charset="UTF-8">
    <title>Combintor</title>
</head>
<body>

<div class="topnav">
    <div class="btDiv">
    <button href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </button>
</div>
        <div id="myLinks">
            {% for name in allFile %}
            <a href="/combi?type={{ name }}">{{ name }}</a>
            {% endfor %}
        <div class="separator"></div>
            <a href="/">3D Word</a>

    </div>


</div>

<div id="main">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="static/combinator/style.css" rel= "stylesheet" type= "text/css">
    <div id="dropZone" class="contour">

        <div class="Title" >Drop Zone</div>

        <div id="addZone">
            <div class="Title" >Add</div>
        </div>

        <div id="subZone">
            <div class="Title" >Subtract</div>
        </div>

    </div>

    <div id="commandZone" class="contour panel completeButton">

        <div id="score">Score : 0</div>
        <button id="Compute">Compute</button>
        <button id="RemoveAll">Remove All</button>
        <button id="Restart">Restart</button>
    </div>

    <div id="wordZone" class="contour panel returnButton">
        {% for val in fword %}
        <button class="word">{{ val }}</button>
        {% endfor %}

    </div>

</div>

<!--POP UP-->
<div id="AlertPopUp" class="modal">

  <div id="AlertPopUpContent" class="modal-content">
    <span class="closeAlert">&times;</span>
    <p id="AlertText">Danger</p>
  </div>

</div>

<div id="RestartPopUp" class="modal">

  <div class="modal-content alertWarning">
      <span class="closeAlert">&times;</span>
      <p id="RestartText">Are you sure you want to start over ?</p>
      <button id="RestartNo">No</button><button id="RestartYes">Yes</button>
  </div>

</div>

<script>
        getUrl = "/getCumstomeCloseWord"
    wordName ="{{ acutalWord }}"
</script>
<script src="static/combinator/app.js">
    //getUrl "/getcloseWord"

</script>
</body>
</html>